data/Bundalovic-Torma/genomes/
data/GTDB220_HumGut_GOMC/*
!data/GTDB220_HumGut_GOMC/gtdbtk-v2.4.0_GOMC-HumGut.summary.tsv
!data/GTDB220_HumGut_GOMC/GOMC-HumGut.gtdb.R220.classification.tsv
data/sphingomonadales/genomes
data/sphingomonadales/epsSMASH_results_sphingomonadales/
data/sphingomonadales/epsSMASH_results_sphingomonadales/region_counts.tsv
data/GOMC/gene_info_GOMC.tsv
data/MiDAS/gene_info_MiDAS.tsv
data/MFD/gene_info_MFD.tsv
data/HumGut/gene_info_HumGut.tsv
results/uncharacterised/sampled_BGCs/
results/sphingomonadales/tree/
results/sphingomonadales/hmmsearch/
results/sphingomonadales/gtdbtk/
!results/sphingomonadales/tree/MSA_sphingomonadales_tree_subset_for_IQtree.faa.treefile
!results/sphingomonadales/hmmsearch/exosortase.csv
!results/sphingomonadales/hmmsearch/pepcterm.csv
results/pel-like/*/
results/bigscape/*
!results/bigscape/GOMC/output/output_files/2025-07-02_14-07-37_c0.4/Categoryless/Categoryless_c0.4.network
!results/bigscape/HumGut/output/output_files/2025-07-01_21-19-28_c0.4/Categoryless/Categoryless_c0.4.network
!results/bigscape/MFD/output/output_files/2025-07-01_22-40-30_c0.4/Categoryless/Categoryless_c0.4.network
!results/bigscape/MiDAS/output_files/2026-08-13_12-32-17_c0.4/Categoryless/Categoryless_c0.4.network
data/HumGut/epsSMASH_results/
data/MiDAS/epsSMASH_results_10k_core/*/
data/MiDAS/epsSMASH_results/*/
data/MiDAS/epsSMASH_results_GCF/*/
data/sphingomonadales/bac120_metadata_r226.tsv
data/gtdb_taxonomy.tsv
scripts/uncharacterised/